@import 'style.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-style: unset;
  font-weight: unset;
  list-style: none;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-family: 'Geist', sans-serif;
  font-size: 16px;
  color: #858585;
}